


/********** Cards css *******/






.links-botton-card > a {
    color: #32475b;
    font-size: small;
}

.recipes-list {
    padding-top: 4%;

}

.card-title {
    color: #161f27;
    font-weight: 700;
}




.img-fluid {
    max-width: 100;
    height: auto;
}


.card-title-recipep {
    font-size: 3em;
    font-weight: 600;
    color: #32475b;
    padding-bottom: 0.4em;
}

.card-title-recipep:hover {
    color: #6b3a2d;
}

.ingredients-box {
    background-color: #f5f8fa;
    border-radius: 5px;
}

.btn-icon {
    background-color: #ff7b59;   
}

a.delete-item-link {
    float: right;
}

.delete-item-link:hover {
    color: #ff7b59;;
}

.edit-item-link:hover {
    color: #ff7b59;;
}

.descript {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    font-size: small;
    color: #5e3525;
    vertical-align: middle;
}

.icon-cook {
    color: #5e3525;
    font-size: large;
}

.icon-cook-div {
    vertical-align: super;
}


 
/********** Container css *******/ 

.btn {
    background-color: #ff7b59;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
} 

.btn_cat {
    height: 20px;
    width: 40px;
    line-height: 24px;
    margin: 3px 3px;
    font-size: smaller;
    float: right;
    border-color: #ff7b59;
    border-bottom-style: solid;
    border-width: 1px;
}



 /********** Container css *******/  

   
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


@media only screen and (max-width: 500px) {
  .btn_add_recipe {
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        display: block;
  }
  

  
}


@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
  
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}


/*****add recipe***/

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f;
}
.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #4f4f4f;

}

/**back to top **/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}




