


/********** Cards css *******/



#category {
    width: 6em;
    height: 2em;
    background-color: #ffebee;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 0.4em, 0.4em, 0, 0.4em;
    text-align: center;
    border-radius: 1px;
}

#category > a {
    padding-top: 0.3em;
    text-align: center;
    color: #ff7b59;
    font-size: small;
    vertical-align: middle;
    font-style: italic;
    letter-spacing: 1px;
}


.links-botton-card > a {
    color: #32475b;
    font-size: small;
}

.recipes-list {
    padding-top: 4%;

}

.card-title {
    color: #32475b;
    font-weight: 500;
}


.card-image-img {
    width: 50%;
    height: 14vw;
    object-fit: cover;
}

.img-fluid {
    max-width: 100;
    height: auto;
}


.card-title-recipep {
    font-size: 3em;
    font-weight: 600;
    color: #32475b;
    padding-bottom: 0.4em;
}

.card-title-recipep:hover {
    color: #ff7b59;
}

.ingredients-box {
    background-color: #f5f8fa;
    border-radius: 4px;
}

.btn-icon {
    background-color: #ff7b59;   
}

a.delete-item-link {
    float: right;
}

.delete-item-link:hover {
    color: #ff7b59;;
}

.edit-item-link:hover {
    color: #ff7b59;;
}

.descript {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
    font-size: small;
    color: #4cc1bb;
    vertical-align: middle;
}

.icon-cook {
    color: #4cc1bb;
    font-size: medium;
}

.icon-cook-div {
    vertical-align: super;
}


 
/********** Container css *******/ 

.btn {
    background-color: #ff7b59;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
} 

.btn_cat {
    height: 20px;
    width: 40px;
    line-height: 24px;
    margin: 3px 3px;
    font-size: smaller;
    float: right;
    border-color: #ff7b59;
    border-bottom-style: solid;
    border-width: 1px;
}



 /********** Container css *******/  

   
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


@media only screen and (max-width: 500px) {
  .btn_add_recipe {
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        display: block;
  }
  

  
}


@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
  
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}