{% extends 'base.html' %} {% block content %}


<!-- PAGE HEADER -->
 <section class="page-section cta">
      <div class="container">  
        <div class="row">
          <div class="col-xl-12 mx-auto">      
            <div class="cta-inner text-left rounded">
              {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
               <div class="heading-section ftco-animate mb-5">
		            <h2 class="mb-4 text-center">Make A Reservation</h2>
		          </div>
                   <!-- ADD RECIPES FORM-->
	            <form method="POST" name="sentMessage" id="contactForm">
	              <div class="row">
	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Name</label>
	                    <input type="text" class="form-control" placeholder="Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
	                  </div>
	                </div>
	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Email</label>
	                    <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required data-validation-required-message="Please enter your email address.">
	                  </div>
	                </div>
	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Phone</label>
	                    <input type="tel" class="form-control" placeholder="Phone Number" name="number" id="phone" required data-validation-required-message="Please enter your phone number.">
	                  </div>
	                </div>

	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Date</label>
	                    <input type="date" class="form-control" class="datepicker" id="book_date" placeholder="Date" name="date" id="date" required data-validation-required-message="Please enter your prefered date.">
                        
	                  </div>
	                </div>

	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Time</label>
	                    <input type="time" class="form-control"  id="book_time" placeholder="Time" name="time" id="time" required data-validation-required-message="Please enter your available time.">
	                  </div>
	                </div>

	                <div class="col-md-6">
	                  <div class="form-group">
	                    <label for="">Persons</label>
	                    <div class="select-wrap one-third">
	                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                      <select name="" id="" class="form-control">
	                        <option value="">Person</option>
	                        <option value="">1</option>
	                        <option value="">2</option>
	                        <option value="">3</option>
	                        <option value="">4+</option>
	                      </select>
	                    </div>
	                  </div>
	                </div>
                    <!--BUTTON-->
	                <div class= "col-md-12">
	                   <input type="submit" value="Make a Reservation" class="btn btn-primary btn-lg btn-block "> 
	                </div>
	              </div>
	            </form>
	          </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--about -->
     <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Come On In</span>
                <span class="section-heading-lower">We're Open</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sunday
                  <span class="ml-auto">Closed</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Monday
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Tuesday
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Wednesday
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Thursday
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Friday
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Saturday
                  <span class="ml-auto">9:00 AM to 5:00 PM</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>1116, Gamalastan</strong>
                  <br>
                  Stockholm, Sweden.
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Call Anytime</em>
                </small>
                <br>
                +46703753213
              </p>
            </div>
          </div>
        </div>
      </div>


    <!--BACK TO TOP -->
 <div class="row">
  <div class="col-12">
    <button onclick="topFunction()" id="myBtn" title="Go to top" class="material-icons">keyboard_arrow_up</button>
  </div>
</div>


{% endblock %}