{% extends 'base.html' %} {% block content %}

<!--introduction-->
<div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "static/img/wel.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">We  Cook</span>
            <span class="section-heading-lower">Your<br> Recipes</span>
          </h2>
          <p class="mb-3">Every recipe  has it's own history ! Share and order your recipes with us . Our chefs will try to create the same taste with fresh hand picked ingredients - we guarantee it!
          </p>

         <!--button to add recipe--> 
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{{ url_for('add_recipe') }}">Add Your Recipe!</a>
          </div>
        </div>
      </div>
    </div>
  </section>


<!--about-->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you walk into our restaurant to taste your own recipes , we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--BACK TO TOP -->
 <div class="row">
  <div class="col-12">
    <button onclick="topFunction()" id="myBtn" title="Go to top" class="material-icons">keyboard_arrow_up</button>
  </div>
</div>

 


{% endblock %}